* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    border: 0;
  }
  
  header {
    text-align: center;
    min-width: 100px;
    min-height: 100px;
    background-color: #e91e1e;
  }
  
  aside {
    min-width: 100px;
    min-height: 100px;
    background-color: #252121;
  }
  
  aside > div{
    position: sticky;
    top: 0;
  }

  aside a {
    display: block;
    padding: 1rem;
    transition: 2s;
  }

  main {
    min-width: 100px;
    min-height: 100px;
    background-color: #ffefef;
    padding: 1rem;
  }
  
  footer {
    min-width: 100px;
    min-height: 100px;
    background-color: #e91e1e;
  }

  main .example {
    border: 1px solid pink;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
  }
  
  main .example .featured {
    grid-column: span 2; 
    grid-row: span 2; 
    height: 215px; 
}

 main .example .featured img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

  
  main .example > div {
    border: 1px solid #000;
    height: 100px; 
  }
  
  main .example img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }

  main .galeria {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
   
  main .galeria > div {
    border: 1px;
    height: 100px;
    position: relative;
    overflow: hidden;
    transition: ease-in-out .2s;
  }
  
  main .galeria > div:first-child {
    grid-area: span 2 / span 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  main .galeria > div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  main .galeria > div:hover {
    transform: scale(1.3);
    z-index: 99;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 25%;
  }
  
  .modal-fotos {
    border-radius: 5px;
    border: 1px solid black;
    position: fixed;
    overflow: unset;
  }
  
  .modal-fotos::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
  }
  
  .modal-fotos .bt-close {
    --size: 3rem;
    --translate: calc(var(--size) / 3 * -1);
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    color: transparent;
    position: absolute;
    right: var(--translate);
    top: var(--translate);
  }
  
  .modal-fotos .bt-close::after {
    content: "✕";
    color: #000000;
    font-size: calc(var(--size) / 2);
  }
  
  .modal-fotos .conteudo img {
    max-height: 90vh;
    max-width: 100%;
  }
  
  dialog {
    background-color: rgb(255, 255, 255);
  }

